.language_wrapp{
    color: white;
}
/* language.css */




.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
}

.language_wrapp h1,
.language_wrapp p {
  transition: opacity 0.5s ease;
}